<% layout('layouts/boilerplate') %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Create New Listing</h1>

      <form action="/listings" 
      method="POST" 
      class="needs-validation" 
      novalidate 
      enctype="multipart/form-data">

        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input 
            name="listing[title]" 
            id="title"
            placeholder="Enter the title" 
            type="text" 
            class="form-control" 
            required
          >
          <div class="valid-feedback">Title looks good!</div>
        
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea 
            name="listing[description]" 
            id="description"
            placeholder="Enter the description" 
            class="form-control" 
            rows="3" 
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description.</div>
        </div>

        <!-- Image -->
        <div class="mb-3">
          <label for="image" class="form-label">Image:</label>
          <input 
            name="listing[image]" 
            id="image"
            placeholder="Upload the image" 
            type="file" 
            class="form-control"
            required
          >
   
        </div>

        <!-- Price and Country -->
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input 
              name="listing[price]" 
              id="price"
              placeholder="Enter the price" 
               
              class="form-control" 
              required
            >
            <div class="invalid-feedback">Please enter a price.</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input 
              name="listing[country]" 
              id="country"
              placeholder="Enter the Country" 
              type="text" 
              class="form-control" 
              required
            >
            <div class="invalid-feedback">Please enter country name.</div>
          </div>
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input 
            name="listing[location]" 
            id="location"
            placeholder="Enter the Location" 
            type="text" 
            class="form-control" 
            required
          >
          <div class="invalid-feedback">Please enter location.</div>
        </div>

        <!-- Submit Button -->
        <button class="btn btn-dark add-btn">Add</button>

      </form>
    </div>
  </div>
</body>
